@media(max-width: 1440px){
.started{
  width: 55%;

  margin: 2rem auto;

  text-align: center;

  z-index: 1;
}

.started__img{
  width: 90%;
}

.started__title{
  font-family: 'Raleway', sans-serif;
  font-size: 2.375rem;

  color: var(--neutral);
}

.started__paragraph{
  width: 75%;
  margin: 1rem auto;

  font-size: 1rem;
  font-weight: 400;

  color: var(--text);
}

.started__button{
  width: 35%;
  height: 3rem;
  margin-top: 1rem;

  color: var(--neutral);
  font-weight: 700;
  background: linear-gradient(45deg, var(--ctaCYAN), var(--ctaBlue));

  border: 0;
  border-radius: 50px;
}

.started__button:hover{
  transition: 0.5s;
  font-weight: 400;
  background: var(--ctaBlue);
}

.started__bgCurvy{
  position: absolute;
  transform: translate(-1%, 160%);
  width: 100vw;

  z-index: -1;
}
}

@media(max-width: 768px){
  .started{
    width: 90%;
  }
  .started__title{
    font-size: 2rem;
  }
  
  .started__paragraph{
    width: 100%;
    font-size: 1rem;
  }

  .started__button{
    width: 75%;
  }
  .started__bgCurvy{
    transform: translate(1%, 420%);
  }
}