.features{
  margin: 10rem auto 0;

  padding: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.feature__img{
  width: 75px;
}

.features__items{
  text-align: center;
}

.features__title{
  font-family: 'Raleway', sans-serif;
}

.features__paragraph{
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--text);
}

@media(max-width: 394px){
  .features{
    width: 90%;
    margin: 1rem auto 0;

    display: flex;
    flex-direction: column;
  }
  .features__items{
    margin-bottom: 2rem;
  }
}