footer img{
  width: 100px;
  padding-top: 10rem;
}

footer{
  margin: -1rem 0;
  background: var(--footerBG);
  z-index: -1;
}

.footer__info{
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.footer__location{
  display: flex;
  color: var(--neutral);
}

.footer__location--address{
  margin-left: 1rem;
}

.footer__contate--align{
  display: flex;
  color: var(--neutral);
  margin-bottom: 1rem;
}

.footer__contate--info{
  margin-left: 1rem;
}

.footer__list{
  display: flex;
  list-style: none;
}

.footer__item{
  margin: 1rem 2rem;
}
.footer__item:first-child{
  margin: 0 2rem 1rem;
}

.footer__item a{
  text-decoration: none;
  color: var(--neutral)
}

.footer__item a:hover{
  font-weight: 700;
}

.footer__social{
  display: flex;
  justify-content: space-between;
}

.footer__social a{
  color: var(--neutral);
}

.footer__social a:hover{
  color: var(--ctaBlue);
}

.footer__copyright{
  width: 100vw;
  background: var(--mainBG);
  padding: 1rem;
  color: var(--neutral);

  display: flex;
  justify-content: center;
  text-align: center;
}
.footer__copyright p{
  font-size: 1rem;
}

@media(max-width: 394px){
  footer img{
    width: 150px;
    padding-top: 10rem;
    margin-bottom: 1rem;
  }
  .footer__info{
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;
  }

  .footer__contate{
    margin-top: -1rem;
  }

  .footer__list{
    display: flex;
    flex-direction: column;

    margin-top: -3rem;
  }

  .footer__item{
    margin: 1rem;
  }
  .footer__item:first-child{
    margin: 0;
    margin-top: 1rem;
  }
  .footer__social{
    display: flex;
    justify-content: space-around;
  }
  
  .footer__social a{
    color: var(--neutral);
  }
  
  .footer__social a:hover{
    color: var(--ctaBlue);
  }
  .footer__copyright p{
    font-size: 1rem;
  }
}