.productive{
  width: 75%;
  margin: 5rem auto 7rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.productive__ilustration img{
  width: 500px;
}

.productive__info{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productive__info--title{
  font-family: 'Raleway', sans-serif;
  font-size: 2.375rem;
}

.productive__info--paragraph{
  font-size: 0.875rem;
  color: var(--text);
  margin: 1rem 0;
}

.productive__info--link a{
  color: var(--ctaBlue);
  text-decoration: none;
  border-bottom: 1px solid var(--ctaBlue);
}

.productive__info--link a:hover{
  transition: 0.5s;
  color: var(--neutral);
}

.productive__info--link div{
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

@media(max-width: 394px){
  .productive{
    display: flex;
    flex-direction: column;
  }

  .productive__ilustration img{
    width: 300px;
  }

  .productive__info--title{
    font-size: 1.1rem;
  }
}